body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514E
  ;
}

span {
  text-decoration: underline;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
  line-height: 2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
}

hr {
  border: dotted 6px;
  width: 4%;
  color: #e4f0f0;
  border-bottom: none;
  margin: 100px auto;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

p {
  line-height: 2;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
}

a:hover {
color: #eaf6f6;
}

.container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.programming {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.source-code {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  border: solid;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  color: #eaf6f6;
  background-color: #11999e;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.btn:hover {
  background-color: #66bfbf;
}

.pad {
  margin: 50px auto 90px auto;
}


.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px 0;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.intro {
  width: 30%;
  margin: auto;
}

.outro {
  width: 50%;
  margin: auto;
}

